<div class="basket_container">
    <div class="container">
        <div class="basket"> 
        <div class="header_basket"><p>Корзина</p><p class="close" onclick="close_basket()">x</p></div>
        <div class="user_infomation">
            <!-- <p class="login_user">Пользователь: user_1</p>
            <p class="score_user">Мои баллы: 600</p> -->
        </div>
            <ul class="positions">
                
            </ul>
        <div class="footer_basket">
            <div id="submit_order">
                
            </div>
            <div class="summ_order">ИТОГО: 1000</div>
        </div>
        </div>
    </div>
</div>